<div class="booking_logo">
  <div style="background-color: darkslateblue;">
    <img class="logo" src="assets/img/logo.png" alt="">
  </div>
<div>
  <img class="banner" src="assets/img/booking logo.png" alt="">
</div>
  
</div>

<div class="input">
  <h2>Enter Number of seates you want to book</h2>
  <input type="number" (ngModelChange)="validateSeats($event)" [ngModel]="totalSeats" required>
  <div style="color: red; font-size: 1.5rem; font-weight: bold;left:6rem; position: relative;">* you can book max 7
    tickets at one time </div>
  <div>
    <button class="btn btn-primary" [disabled]="btnDisable" (click)="bookNow()"
      [style.background-color]="btnDisable === true ? 'darkgrey' : ''">Book now</button>
    <button class="btn-btn-primary">clear</button>
  </div>
  <div class="seatsBooked" *ngIf = "seatNumbers">
    <h2>Booked Seat Numbers Are</h2>
    <div class="seatNumbers">
    <div *ngFor="let num of bookedSeates">
      {{num}}
    </div>
  </div>
  </div>
</div>
<div class="available">
  <h2>Total seats Mapping</h2>
  <div style="display: flex;">
    <div class="seats">
      <div *ngFor="let seat of seatData ">
        <img src="assets/img/seat.png" [style.background-color]="seat.booked === true ? 'coral' : ''" alt="">
        <button>{{seat.seatNo}}</button>
      </div>

    </div>
    <div class="mybtn">
      <button class="btn1"></button><span>Occupied</span>
      <button class="btn2"></button><span>Available</span>
    </div>
  </div>


</div>